/* ### Theme: Yotsuba ### */

/* === Base Settings === */

/* --- Body Colors --- */

$background: transparent;
$color-border: none;
$color-inner-divs: #fef7f0;
$color-items: antiquewhite;


/* --- Text Colors --- */
$color-text: #b04d00;
$color-subtext: #b04d00;
$color-code: white;
$color-code-highlight: #d0b995;
$internal-links: blue;
$external-links: #cc1105;
$invalid-links: $internal-links;
$color-primary: #b04d00;
$color-secondary: #b04d00;
$color-box-shadow: transparent;


/* --- Borders --- */
$article-border: none;
$sidebar-border: medium outset;
$prev-next-border: none;
$color-item-border: medium double #d0a495;
$border-radius: 5px;

/* --- Embeds, Sidenote and Footnote Colors --- */
$embed-border: thin solid black;
$color-embed-background: $color-inner-divs;
$color-embed-title: black;
$color-embed-text: black;

$footnote-border: medium outset;
$color-footnote-background: $color-inner-divs;
$color-footnote-text: black;

$sidenote-border: thin solid $color-secondary;
$color-sidenote-background: #fffffa;
$color-sidenote-text: black;



/* --- Font Family --- */
$font-family-sans-serif: Helvetica, Arial, -apple-system, BlinkMacSystemFont, Segoe UI,  sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;

$font-family-serif: serif;

$font-family-monospace: ”Iosevka Term SS03”,”IBM Plex Mono”,”Fira Code”,”Fira Mono”,”Roboto Mono”,”Droid Sans Mono”,Monaco,Consolas,Courier,monospace;;

/* === Body === */



article {
  background-color: $background;    
  box-shadow: 1px 1px 0px $color-box-shadow;
    padding-top: 1.5em;
  
}

body {
  background-image: url("/assets/images/bg-vellum.jpg");
  background-repeat: repeat;
  box-sizing: content-box;
  margin: 0 auto;
  line-height: 1.1em;
  padding: 2rem;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
}

body {
  font-family: $font-family-serif;
  padding: 4vh 6vw;
  overflow-x: hidden;
  color: $color-text;
  font-size: 1rem;
  background-color:beige;
}


img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  max-height: 75vh;
  border-radius: $border-radius;
  border: none;
  width:80%;
}

blockquote {
  padding: 1em;
  color:#9f9922;
  margin: 0;
  font-size: 1em;
}

ul {
  list-style-type: bullet;
}

hr {
  margin:1.5em;
  margin-bottom:0em;
 background-color: $color-box-shadow;
}

h1,h2,h3,h4,h5,h6 {
  line-height: 1.4;
  padding-bottom: 0;
  font-size:1.15em;
  margin: 1em;
  margin-left:1em;
  text-align:left
}

.title-text { color:#cc1105; font-weight:bold; font-size: 2em; line-height:1em; margin:0em; text-align:center; padding-bottom:0.5em; text-decoration:underline; font-variant: small-caps}

.post-content{

h1 {color:$color-primary; font-weight:bold; text-decoration:underline; text-align: center; font-size: 1.5em}
h2 {color:$color-secondary; font-weight:bold; text-align: center; font-size: 1.3em}
h3 {color:$color-secondary; font-weight:bold;}
h4 {text-transform:none;font-weight:strong; font-size:1em;}
h5 {text-transform:none;font-weight:normal; text-decoration:underline; tfont-size:1em;}
}
code {
    color: $color-code;
    font-family: $font-family-monospace;
    font-size: 1em;
    background-color: $color-code-highlight;

    
}

PRE {
  margin-left: 1em;
}

.highlight {
    margin: 1em;
    background-color: $color-code-highlight;
}

*:focus {
  background: white !important;
  color: black !important;
}

/* -- Links -- */

a {
  color: $external-links;
  text-decoration:underline;
  }
    a:hover {
    color:red !important;
    text-decoration: underline;
    cursor: alias;
  }
      a.internal-link {
    color: $external-links;
       text-decoration:underline; 
    cursor: pointer;
      }
      .notes-entry-container a.internal-link::before{
      content:"»";
      }
.invalid-link, .invalid-link-brackets {
  color: $invalid-links;
  cursor: help;
}


nav a.intern-link::before{
  content:""; color:blue;
}

.sidenote a, nav a {
    font-weight: normal !important;
    text-decoration:underline
}

.sidenote a:hover{
    font-weight: normal !important;
    text-decoration:underline
}
nav a {
  color: blue !important;
}
.anchor a {
  color: $color-text;
  cursor: pointer;
}
.anchor a:hover{
  color: $internal-links;
  cursor: pointer;
}

.toc-container a {
  cursor: pointer;
}

/* --- Header Anchors --- */
.anchor {visibility: hidden; color:gray; opacity:0.7; text-decoration:none; font-size: 0.8em; font-familiy:monospace}
.anchor:hover {text-decoration:none; color:black !important; cursor:pointer;}
h1:hover > a.anchor,
h2:hover > a.anchor,
h3:hover > a.anchor,
h4:hover > a.anchor,
h5:hover > a.anchor,
h6:hover > a.anchor {
    visibility: visible;
} 



/* === Page Formatting === */

.title {
  border: $color-border; 
  padding: 0em;
  background-color: $background;
  margin-bottom:0em;
  text-align:center;
}

nav {
  background-color: $color-inner-divs;
  border: $color-border; padding: 1em;
    box-shadow: 1px 1px 0px $color-box-shadow;
 color: blue;
 font-weight: normal; 
 padding: 1em;
 margin: 1em 0 1em;
}

.alignleft {
  float: left;
    text-align:left;
}
.alignright {
  float: right;
   text-align:right;
}

.border, .notes-entry-container {
  border: $color-border; 
  padding: 2em;
  padding-top:1em;
   @media (max-width: 700px) {
    border:none;
    padding:none;
  }
}


/* -- Interlinks -- */

.backlink-box {
    border: $color-border;
    box-shadow: 1px 1px 0px $color-box-shadow;
    padding:1em;
    line-height:1em;
}


.backlinks-excerpt{
  font-size: 0.9em; color: $color-subtext;
}
.backlinks-none{
  font-size: 0.9em; text-align:center;
}

.note {
  border: $color-border;
  padding:1em; padding-top:0em; 
  background-color: $background;
}

.content p {
  margin-left:1em;
}


/* Table of Contents */
.toc-container{
    padding:1em;
  border: medium outset; 
    box-shadow: 1px 1px 0px $color-box-shadow;
    background-image: url("/assets/images/bg-vellum.jpg");
  margin: 1em;
  margin-top:2em;
  margin: 0 auto;
  display: block;
  max-width: 50%;
    border-radius: $border-radius;
    @media (max-width: 700px) {
  max-width:100%;
  }
}
.toc-container h1 {
  margin:0em;
  color:$color-secondary;
  text-align:center;
  font-size:1em;
  text-decoration:none !important;
}

.toc-container ol li  {
  list-style-type: numeral;
}

.toc-container ol li li {
  list-style-type: lower-latin;
}


//--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--\\
//--=--=--=--=--=--=--=--=*EXTRAS*=--=--=--=--=--=--=--=--\\
//--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--=--\\ 


/* STRUCTURE
================================================== */

 .archive-card {
    margin-bottom: 1em;
    float: left;
    clear: both;
    padding: 0.5em 1em;
    box-sizing: border-box;
    width: 100%;
}
     
     .index-card {
    margin-bottom: 1em;
    float: left;
    clear: both;
    padding: 0.5em 1em;
    box-sizing: border-box;
    width: 100%;

}
.sidebar-card {
    background-image: url("/assets/images/bg-article-vellum.jpg");
    margin-bottom: 1em;
    float: left;
    clear: both;
    padding: 0.5em 1em;
    box-sizing: border-box;
    width: 100%;
    border-radius: $border-radius;
}

.container-lg {
    max-width: 80em;
    margin: auto;
}

.leftcolumn {
    float: left;
    width: 15%;
    margin: 0.5em;
     @media (max-width: 900px)
     {width: 100%;
         margin: auto
         }}

.midcolumn {
    float: left;
    width: 60%;
    margin: 0.5em;
        border: medium outset;
    background-image: url("/assets/images/bg-article-vellum.jpg");
    border-radius: $border-radius;
    
@media (max-width: 900px)
     {width: 100%;
    margin: auto
}}

.midcolumn-small {
    width: 40%;
    margin: auto;
}

main {
margin: auto;
}

article {
    background-color: $background;    
    box-shadow: 1px 1px 0px $color-box-shadow;
}
article hr {
  margin:1.5em;
  margin-bottom:1em;
 background-color: transparent;
    border-color: transparent;
}


.related {
    text-align: left;
}

.related h1 {
    padding: 0.5em;
    margin: auto;
    text-align: center
}

.related h2 {
    margin: auto;
    padding-bottom: 0.5em;
    text-align: center;
    color: white;
}

.related ul {
    margin: 0.1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    list-style-position: outside;
}

.related ul li {
    margin: 0.1em;
    padding-bottom: 0.5em;
}


/* PROFILE
================================================== */

.sidebar-card a, .related a {
    margin-bottom: 0.5em;
}

.profile-pic {
    border-radius: 50%;
    width: 55px;
    margin-bottom: 0.5em;
    
    @media (max-width: 900px)
     {float: 100%;
         margin: auto
         }}

.profile {
    margin-bottom: 0.5em;
    font-weight: bold;
    text-align: center;
}

.user-name {
    color: $internal-links;
    text-decoration: underline;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
}

.sidebar-link-box, .index-grid {
    display: grid;
    grid-template-columns: auto;
    border: $color-item-border; 
    box-shadow: 1px 1px 0px $color-box-shadow;
    background-color: $color-inner-divs;
    margin-bottom: 0.5em;
    max-width: 100%;
    padding: 0.5em;
    font-size: 0.9em;
    
    @media (max-width: 900px)
     {margin: auto;
      display: block;
}}

.silent-link {
    color: $color-text;
}

/* HOME 
=============*/

.home-card {
    width: 400px;
    margin: auto;
    padding: 25px; 
    background-image: url(/assets/images/bg-article-vellum.jpg);
    border: medium outset;
}

.container-sml {
    width: 400px;
    margin: auto;
}

.home-icon {
    width: 50px;
    background-color: transparent;
    border: none;
}

.icon-grid {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    padding: 5px;
}

.flip {
      transform: scaleX(-1);
}


/* POST CONTENT
(use this to style the formatting of your posts)
================================================== */
.post-content {
    line-height: 1.5em;
    margin-left:1.5em; 
    margin-right:1.5em; 
    padding: 1em;
    background: $color-inner-divs;
    margin-top: 2em;
    border: $color-item-border;
//    box-shadow: 0px 0px 10px 10px $color-inner-divs;


}

.post-content img {
  max-width: 70%;
  display: block;
  margin: auto;
  margin-bottom: 2em;
  max-height: 75vh;
  border-radius: $border-radius;
}


.post-content blockquote {
  padding: 1em;
  margin: 0;
  font-size: 1em;
  font-family: $font-family-serif;
    font-style: italic;
}

.notes-entry-container {
  padding:1em; padding-top:0em;

}

// image captions
img+em {
    display: block;
    color: $color-text;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    margin-top: -1.5em;
}

.subtitle-text {
    width: 100%;
    text-align: center !important;
    margin: 0.5em auto;
}

/* BACKLINKS
================================================== */

.backlinks-container {
    max-width:28em; margin: 0 auto;
    background-image: url(/assets/images/bg-vellum.jpg);
    border: medium outset;
    padding: 1em;
    margin: 1em auto;
    border-radius: $border-radius;
    
}

.backlinks-container h1{
    margin-bottom: 1em
}

.backlink-box {
    padding:1em;
    margin-bottom: 0.5em;
    line-height:1em;
    background-color: $color-inner-divs;
    border: 1px solid $color-primary;
    border-radius: $border-radius;
    line-height:1em;
}


/* EMBEDDED NOTES
================================================== */

.embed-wrapper {
    border: medium outset;
    padding: 1em;
    background-image: url(/assets/images/bg-vellum.jpg);
    margin: 2em 1.5em;
    border-radius: $border-radius;
}

.embed-title {
    display: none;
}

.embed-content {
    color: $color-embed-text;
}
.embed-content p {
    color: $color-embed-text;
}



/* SIDENOTES
================================================== */

.sidenote {
    padding-left: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: 1em;
    font-style: italic;
    font-size: 0.8em;
    line-height: 1.1em;
    box-sizing: border-box;
    background-color: $color-sidenote-background;
    border: $sidenote-border;
    color: $color-sidenote-text;

}

.sidenote-hover {
    color: $color-subtext;
    z-index: 1;
    box-sizing: border-box;
    color: $internal-links;
}

.sidenote:hover {
    z-index: 1;
    color: $internal-links;
}

.footnote web-link {
    position: relative
}
.bigger:after{
    content:"";
    padding: 50px;  
    position: absolute;
    left: -25px;
    top: -25px;
} 



/* FOOTNOTES
================================================== */

.footnotes {
    border: $footnote-border;
    padding: 1em 0;
    color: $color-footnote-text;
    margin: 2em 1em;
    background-image: url(/assets/images/bg-vellum.jpg);
    border-radius: $border-radius;

}


/* INDEX
================================================== */

.index-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    grid-gap: flex;
    padding: 1em;
    
     @media (max-width: 1000px)
     {grid-template-columns: auto;}
}

.index-anchor {
        text-decoration: none !important;

}
.index-item, .archive-item, .library-item {
    width: 95%;
    margin: auto;
    background-color: $color-items;
    text-align: left;
    margin-bottom: 1em;
    padding: 0.5em;
    border: thin solid $color-primary;
    box-sizing: border-box;
    
    &:hover {
        box-shadow: 0px 0px 0px 1px $color-primary;
    }
}

.index-item {
    height: 8em;
    overflow: hidden;
}

.index-item-title, .library-item-title {
font-weight: bold;
    text-decoration: underline;
    color: $color-text;
    overflow: hidden;
}

.index-item-date, .library-item-filetype {
    font-weight: normal;
    float: right;
}

.index-item-topic {
font-weight: normal;
    font-weight: bold;

}

.index-item-excerpt {
font-weight: normal;
    height: 5em;
    width: 85%;
    overflow: hidden;
    float: left;

}



/* ARCHIVE
================================================== */

.archive-grid {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    grid-gap: 0.5em;
    background-color: $background;
    padding: 1em;
    margin: auto;
}

.archive-card {
    width: 100%;
    margin: auto;
    border: medium outset;
}



/* LIBRARY
================================================== */

.library-item {
    display: grid;
    grid-auto-columns: 100% 10%;
}

.post-date {
    padding-top: 0.5em;
    margin-left: 0.5em;
    margin-bottom: 1em;
    text-align: center;
    font-style: italic;
    font-weight: bold;

}

.library-grid-container {
    width: 90%;
    margin: auto;
}
    
.library-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.library-image {
    background: white;
}

.library-image-container {
    height: 7em;
    margin: 4%;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}




/* TAG PAGE
================================================== */

.tile h1, .home-link-button h1 {
  margin: auto;
    width: 100%;
    text-align: center;
}

.tile:hover, home-link-button:hover {
    background-color: $color-items;
}

.tile:target {
    border: medium solid $color-primary;
}

.tile, .home-link-button {
   background-color: $color-inner-divs;    
    border: medium outset;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-image: url(/assets/images/bg-vellum.jpg);
    border-radius: $border-radius;
    &:hover {
    background-color: $color-items;}
}

.tag-grid {
    display: grid;
    grid-template-columns: auto auto auto;
}



/* PREVIOUS / NEXT BUTTONS
================================================== */

.prev-next {
    margin-bottom: 0.5em;
    width: 100%;
    padding: 1em;
    height: 3.5em;
}

.prev-next a {
    font-weight: bold;
    text-decoration: underline;
    color: $color-primary;
    background-image: url("/assets/images/bg-vellum.jpg");
    border-radius: $border-radius;
    border: medium outset lightgrey;
    padding: 0.8em;

}
.prev {
    float: left;

}

.next {
    float: right;

}


/* COLOR BADGES (ZETTELKASTEN HEX)
================================================== */

.hex-badge {
    width: 2em;
    height: 2em;
    float: right;
    border: 2px solid white;
    box-sizing: border-box;
    box-shadow: 0px 0px 0px 1px black;
    margin-top: -1em;
}

/* NETWORK GRAPH (BACKLINK VISUAL REPRESENTATION)
================================================== */

.network-graph-container {
    clear: both;
    margin-top: 1em;
    display: block;
//    border: medium outset;
    border-radius: $border-radius;
    padding: 2em;
    height: 45em;
    
    & h1 {
        text-align: center;
        margin-bottom: 1em;
    }
}


  .links line {
    stroke: $color-primary;
    opacity: 0.5;
  }

  .nodes circle {
    cursor: pointer;
    fill: $color-primary;
    transition: all 0.15s ease-out;
  }

  .text text {
    cursor: pointer;
    fill: $color-subtext;
  }

  .nodes [active],
  .text [active] {
      cursor: pointer;
      fill: $color-primary;
      font-weight: bold;
      text-decoration: underline;
      
  }

  .inactive {
    opacity: 0.4;
    transition: all 0.15s ease-out;
  }


  #graph-wrapper svg {
      background: $color-inner-divs;
      height: 40em;
      border: $color-item-border;
  }



/* LISTS AND TABLES
================================================== */ 

ol li {
    list-style-type: decimal;
}

ol li li {
    list-style-type: lower-alpha;
}

ul li {
    list-style-type: disc;
}

ul li li {
    list-style-type: square;
}

table, tr, td {
    border: thin solid;
    border-collapse: collapse;
    padding: 0.5em;
    margin: auto;
    background-color: $color-inner-divs;
}


/* BORDERS
================================================== */

// Border around your posts
 article {
    box-sizing: border-box;
}

.index-card {
    box-sizing: border-box;
}

// Border around the items in the sidebar
.sidebar-card,
{
    border: $sidebar-border;
    box-sizing: border-box;
}


.border {
}

// Border around the next/previous buttons above and below your posts
.prev-next, {
    box-sizing: border-box;

}

/* GRAPHVIZ PARSER -- GRAPH VISUALISATION TOOL
================================================== */

.graphviz-wrapper {
    padding: 0px;
}

.graphviz-wrapper svg {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}



/* GENERAL PURPOSE CLASSES
================================================== */

// use syntax: {:.classname} within markdown to apply a class— these general classes might come in handy.


/* -=Text=- */

.right-aside {
    float: right;
    border: medium outset;
    padding: 1em;
    width: 45%;
    margin-left: 1em;
    font-size: 0.9em;
    background-image: url(/assets/images/bg-vellum.jpg);
    border-radius: $border-radius;
}

.left-aside {
    float: left;
    border: medium outset;
    padding: 1.2em;
    width: 45%;
    margin-left: 2em;
    font-size: 0.9em;
    background-image: url(/assets/images/bg-article-vellum.jpg);
    border-radius: $border-radius;
}

.center{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

/* -=Images=- */

.right {
    float: right;
    width: 50%;
    padding: 1em;
}

.left {
    float: left;
    width: 50%;
    padding: 1em;
}

.border {
    border: $color-item-border;
}

.shadow {
    box-shadow: 0px 0px 15px black;
}

.glow {
    box-shadow: 0px 0px 15px white;
}




