 <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <!-- <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}"> -->
    <link rel="stylesheet" href="{{ site.baseurl }}/styles.css">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Blog</title>
  <meta name="description" content="OFFICIAL BLOG of JamesLiao333.">
  <meta name="author" content="SitePoint">

  <meta property="og:title" content="JAMES LIAO OFFICIAL BLOG">
  <meta property="og:type" content="website">
  <meta property="og:description" content="Blog">
  <meta property="og:image" content="image.png">

  <!-- <link rel="icon" href="/favicon.ico"> -->
  <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml"> -->
  <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png"> -->
   <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script src="{{ site.baseurl }}/assets/js/sidenotes.js"></script>

</head>  
 
 

