<div class="side-card">
      <h1>Navigation</h1>
      <nav class="sidebar-link-box">
      <p>You are currently viewing the <strong>{{page.category | capitalize}}</strong> section of this site.</p>
       <hr> 
      <a href="{{site.baseurl}}/pages/all-{{page.category}}s/">View {{page.category | capitalize}} Index</a>
      <br>
      <a href="{{site.baseurl}}/pages/tags#{{page.category}}">View {{page.category | capitalize}} By Tags</a>
      <br>
      <a href="{{site.baseurl}}/pages/archive/">View Archive of All Sections</a>
      <br>
      <a href="/">Go Home</a>
<hr>

      </nav>
    </div>  