<div class="sidebar-card">
    <div class="profile">
      <a href="{{ site.data.user.profile_link }}" | absolute_url }}">
      <img class="profile-pic" style="border-color: $color-border" src="{{ site.baseurl }}/{{ site.data.user.profile_pic }}" alt="">
      </a>
        <a class="silent-link" href="{{ site.data.user.profile_link }}" | absolute_url }}">
            <h1 class="user-name silent-link">{{ site.data.user.user_name }}</h1>
        </a>
</div>
  <div class="sidebar-link-box profile">
    <a href="/"><strong>Home</strong></a>
      <a href="/pages/library">Library</a>
      <a href="/pages/archive">Archive</a>
      <a href="/pages/all-daily">Daily Notes</a> 
      <a href="/pages/all-articles">Articles</a>
      <a href="/pages/all-journal">Journal</a>
      <a href="/pages/all-notes">Wiki</a>
      <a href="/pages/latest">Latest Posts</a>

    </div>
  </div>